<div class="jumbotron">
  <h4 class="text-center">Array sort debug</h4>
  <%= @player_list.each do |x| %>
    <%= x %><strong>ends</strong>
  <% end %>
  <br><br>
  <hr>
  <strong>Individual objects 1-4</strong><br>
  <%= @player_list[0] %>
  <%= @player_list[1] %>
  <%= @player_list[2] %>
  <%= @player_list[3] %>
</div>